In [9]:
s="123"
print(type(s))

<class 'str'>

In [10]:
c=123
print(type(c))

<class 'int'>

In [11]:
x=123.00
print(type(x))

<class 'float'>

In [12]:
n=input()

334

In [13]:
print(type(n))

<class 'str'>

In [17]:
n=int(input())

12

In [18]:
n=float(input())

34.5

In [19]:
print(n)

34.5

In [20]:
n=int(n)

In [21]:
print(n)

34

In [22]:
n=float(n)
print(n)

34.0

In [25]:
s="i Love "
n="Bangladesh"
l=s+n
print(l)

i Love Bangladesh

In [38]:
name="13847"
print(type(name))

<class 'str'>

In [34]:
a=12
print(type(a))

<class 'int'>

In [37]:
f=12.4
print(type(f))

<class 'float'>

In [29]:
print(name)

Nahid

In [39]:
n=input()

234

In [40]:
print(n)

234

In [41]:
print(type(n))

<class 'str'>

In [42]:
n=1

In [43]:
print(n)

1

In [49]:
n=int(input())

3

In [46]:
print(type(n))

<class 'int'>

In [50]:
f=float(input())

3.5

In [51]:
f=int(f)
f

3

In [52]:
n=float(n)
n

3.0

In [55]:
s="abc"
s=int(s)

ValueError: invalid literal for int() with base 10: 'abc'

In [54]:
print(type(s))

<class 'int'>

In [57]:
name=input()
print(name)

nahid
nahid

In [61]:
#sum of two string value
s=input()#input
b=input()
s=s+b
print(s)

gg
w
gg w

In [59]:
a=7
b=4
a=a+b
print(a)

11

In [8]:
n="abc"
print(type(n))

<class 'str'>

In [10]:
# type casting 
n=int(n)

SyntaxError: invalid syntax (59353220.py, line 1)

In [3]:
type(n)

int

In [4]:
f=9.3
f=int(f)
print(type(f))

<class 'int'>

In [5]:
f

9

In [11]:
a=input()
b=input()

I love Bangladesh
very much

In [12]:
a=a+b
print(a)

I love Bangladesh very much

In [13]:
a=4
b=2
a=a+b

In [14]:
print(a)

6

In [16]:
a=8
b=7
c=a
a=b
b=c
print(a)
print(b)

7
8

In [17]:
c=6
d=4
(c,d)=(d,c)

In [18]:
print(c)
print(d)

4
6

In [19]:
l=7
n=3
l=l+n#7+3=10
n=l-n#10-3=7
l=l-n#10-7=3
print(l)
print(n)

3
7

In [1]:
    a=3
    print(type(a))

<class 'int'>

In [3]:
b=4.5
print(type(b))

<class 'float'>

In [4]:
a="u37nd"
print(type(a))

<class 'str'>

In [5]:
a=7.5
a=int(a)
print(a)

7

In [6]:
b=3
b=float(b)
print(b)

3.0

In [7]:
print(type(b))

<class 'float'>

In [8]:
b=55
b=str(b)
print(type(b))

<class 'str'>

In [11]:
s="assd"
print(type(s))

<class 'str'>

In [12]:
s=int(s)
print(type(s))

ValueError: invalid literal for int() with base 10: 'assd'

In [13]:
a=5
a=7
a=10

In [14]:
print(a)

10

In [15]:
a=6
a=a+a
print(a)

12

In [18]:
name=input("enter your name ")
age=input("Enter your age ")
sname=input("Enter your school name")
cname=input("Enter your classs name")
print("My name is ", name)
print("I am",age," year old")
print("My school name is ",sname)
print("My class is",cname)

enter your name Nahid
Enter your age 24
Enter your school nameBubr
Enter your classs name4th\
My name is  Nahid
I am 24  year old
My school name is  Bubr
My class is 4th\

In [19]:
a=input()

45

In [20]:
print(a)

45

In [21]:
print(type(a))

<class 'str'>

In [22]:
print(a+4)

TypeError: can only concatenate str (not "int") to str

In [29]:
a=int(input())#ekta value input neua

67

In [26]:
b=float(input())

4

In [31]:
a=int(input())
b=int(input())
print(a+b)
print(a-b)

45
6
51
39

In [33]:
r=int(input())
a=3.1416*r**2
print(a)

8
201.0624

In [34]:
a=int(input())
b=int(input())
print(a*b)

566
7
3962