In [1]:
i=10
while(i>=0):
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1
0

In [4]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [8]:
for i in range (30,9,-1):
    print(i)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10

In [10]:
for i in range(20,23):
    print("Student Roll ",i)
    for j in range(3):
        if j==0:
            b=int(input("Enter Bangla Mark "))
            if b>=80:
                print("Got A+ in Bangla")
            else:
                print("Not Got  A+ in Bangla")
        elif j==1:
            E=int(input("Enter English Mark "))
            if E>=80:
                print("Got A+ in English")
            else:
                print("Not Got  A+ in English")
        else:
            m=int(input("Enter Math Mark "))
            if m>=80:
                print("Got A+ in math")
            else:
                print("Not Got  A+ in Math")

Student Roll  20
Enter Bangla Mark 87
Got A+ in Bangla
Enter English Mark 75
Not Got  A+ in English
Enter Math Mark 90
Got A+ in math
Student Roll  21
Enter Bangla Mark 76
Not Got  A+ in Bangla
Enter English Mark 80
Got A+ in English
Enter Math Mark 90
Got A+ in math
Student Roll  22
Enter Bangla Mark 80
Got A+ in Bangla
Enter English Mark 83
Got A+ in English
Enter Math Mark 96
Got A+ in math

In [11]:
for i in range (2,5):
    print(i)
    if(i==3):
        break

2
3

In [16]:
x=int(input())
for i in range(2,x):
    if(x%i==0):
        break
#print(i)
if(i==x-1):
    print("This is prime ")
else:
    print("Not Prime number")

97
This is prime

In [17]:
for i in range(20):#i<20
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [18]:
for i in range (20,50):
    print(i)

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [19]:
for i in range(20,50,2):
    print(i)

20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [20]:
for i in range(20,0,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [24]:
for i in range(2,5):
    for j in range(3):
        print(j)
        if(j==1):
            break

0
1
0
1
0
1

In [32]:
x=int(input())
n=int(x*0.5)+1
for i in range(2,n):
    if(x%i==0):
        break
if(i==n-1):
    print(x," Is a prime number")
else:
    print(x," Is a non prime number")

91
91  Is a non prime number

In [1]:
for i in range (10):
    print("number ",i)

number  0
number  1
number  2
number  3
number  4
number  5
number  6
number  7
number  8
number  9

In [2]:
for i in range (20,50):
    print("number ",i)

number  20
number  21
number  22
number  23
number  24
number  25
number  26
number  27
number  28
number  29
number  30
number  31
number  32
number  33
number  34
number  35
number  36
number  37
number  38
number  39
number  40
number  41
number  42
number  43
number  44
number  45
number  46
number  47
number  48
number  49

In [4]:
for i in range(50,20,-1):
    print("number ",i)

number  50
number  49
number  48
number  47
number  46
number  45
number  44
number  43
number  42
number  41
number  40
number  39
number  38
number  37
number  36
number  35
number  34
number  33
number  32
number  31
number  30
number  29
number  28
number  27
number  26
number  25
number  24
number  23
number  22
number  21

In [6]:
for i in range(20,23):
    print("Student Roll ",i)
    for j in range (3):
        if j==0:
            b=int(input("Enter Bangla Number"))
            if b>=80:
                print("HE got A+ in Bangla")
            else:
                print("He got bellow A+")
        elif j==1:
            e=int(input("Enter English Number"))
            if e>=80:
                print("HE got A+ in English ")
            else:
                print("He got bellow A+")
        else:
            
            m=int(input("Enter Math Number"))
            if m>=80:
                print("HE got A+ in Math ")
            else:
                print("He got bellow A+")

Student Roll  20
Enter Bangla Number56
He got bellow A+
Enter English Number77
He got bellow A+
Enter Math Number89
HE got A+ in Math
Student Roll  21
Enter Bangla Number78
He got bellow A+
Enter English Number96
HE got A+ in English
Enter Math Number56
He got bellow A+
Student Roll  22
Enter Bangla Number88
HE got A+ in Bangla
Enter English Number97
HE got A+ in English
Enter Math Number89
HE got A+ in Math

In [7]:
for i in range(100):
    print(i)
    if(i==44):
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [12]:
x=int(input())
for i in range (2,x):
    if(x%i==0):
        break
if(i==x-1):
    print(x," Is a prime Number")
else:
    print(x," Is a Non prime Number")

7
7  Is a prime Number

In [3]:
print((2+4**2)/2)

9.0

In [4]:
capitals = {
    "India": "New Delhi",
    "Nigeria": "Abuja",
    "USA": "Washington, DC"
}

In [7]:
print(capitals)

{'India': 'New Delhi', 'Nigeria': 'Abuja', 'USA': 'Washington, DC', 'Pakistan': 'Islamabad'}

In [6]:
capitals["Pakistan"] = "Islamabad"