In [ ]:
print("Enter your name ")
name=input()
print(name)

Enter your name
Nahid
Nahid

In [8]:
name=input("Enter your Name ")
Age=int(input("Enter your age "))
hight=float(input("Enter your hight "))
school=input("Enter your School Name ")
gmail=input("Enter your Gmail id ")

Enter your Name Nahid
Enter your age 24
Enter your hight 6
Enter your School Name Habashpur K raj Highschool
Enter your Gmail id nahid2887@gmail.com
My Name is:  Nahid
My age is:  24
My Hight is:  6.0
My High school Name is : Habashpur K raj Highschool
My Gmail Id Is:  nahid2887@gmail.com

In [9]:
print("My Name is: ",name)
print("My age is: ",Age)
print("My Hight is: ",hight)
print("My High school Name is :",school)
print("My Gmail Id Is: ", gmail)

My Name is:  Nahid
My age is:  24
My Hight is:  6.0
My High school Name is : Habashpur K raj Highschool
My Gmail Id Is:  nahid2887@gmail.com

In [16]:
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a%b)

10
20
30
-10
200
0.5
100000000000000000000
10

25

In [ ]:
m=(a%b)
print(m)

5

In [ ]:
H54