In [3]:

num1=input("Enter a number  ")
num2=input("Enter another number ")

Enter a number  5
Enter another number 6

In [5]:
print(num1*num2)

TypeError: can't multiply sequence by non-int of type 'str'

In [6]:
print(type(num1))

<class 'str'>

In [13]:
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)

5
7
12
-2
35
0.7142857142857143

In [8]:
print(type(a))

<class 'int'>

In [9]:
c=float(input())

5.7

In [10]:
print(type(c))

<class 'float'>

In [14]:
a=4
print(type(a))

<class 'int'>

In [15]:
a=5.6
print(type(a))

<class 'float'>

In [18]:
b="45"
print(type(b))

<class 'str'>

In [27]:
a=6.67
a=str(a)

In [28]:
print(a)

6.67

In [29]:
print(type(a))

<class 'str'>

In [33]:
a="asb"

In [34]:
a=int(a)

ValueError: invalid literal for int() with base 10: 'asb'

In [10]:
#user input data and print them 

print("Enter Your Name")
name=input()
print("enter your age")
age=input()
print("enter your school name")
sname=input()
print("My Name is ",name)
print("I am ",age, " year old")
print("My school name is ", sname)

Enter Your Name
r
enter your age
r
enter your school name
t
My Name is  r
I am  r  year old
My school name is  t

In [40]:
x=input("enter a number ")

enter a number 23

In [41]:
print(type(x))

<class 'str'>

In [4]:
x=int(input())
print(x)

6
6

In [43]:
print(type(x))

<class 'int'>

In [1]:
x=float(input())

4

In [6]:
a=int(input())
b=int(input())
print(a+b)

t5

ValueError: invalid literal for int() with base 10: 't5'

In [8]:
print(2%5)

2